.app {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
.board {
  position: relative;
  width: 600px;  /* Adjust width as per cell count and total desired width */
  height: 800px; /* Adjust height as per cell count and total desired height */
  background: url("./blanc_map.png") no-repeat center center;
  background-size: cover;
  border: 2px solid #ca0000;
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 columns */
  grid-template-rows: repeat(5, 1fr); /* 5 rows */
  gap: 1px; /* Optional, adds a small gap between cells */
}

.cell {
  width: 120px;  /* Full width of the grid column */
  height: 61.5px; /* Full height of the grid row */
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  color:red;
  align-items: center;
}

.black {
  color:black;
}
